.AccountView__container {
  background-color: #FFCA28;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.AccountView__header_container {
  flex: 1;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}
.AccountView__connectbutton {
  flex: 1;
}
@media (max-width: 1633px) {
  .AccountView__connectbutton {
    flex: 1.5;
  }
}
@media (max-width: 1170px) {
  .AccountView__connectbutton {
    flex: 2;
  }
}
@media (max-width: 897px) {
  .AccountView__connectbutton {
    flex: 2.5;
  }
}
@media (max-width: 750px) {
  .AccountView__connectbutton {
    flex: 3;
  }
}
.AccountView__fundslabel {
  font-size: 25pt;
  flex: 11;
  text-align: right;
}
.AccountView__peer_container {
  flex: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.AccountView__peerlist_content_container {
  flex: 15;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AccountView__peerlist_content {
  width: 50%;
  height: 95%;
}

.AccountView__peerlist {
  width: 100%;
  height: 100%;
}

.AccountView__peerlistbutton_container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccountView__peerconnectionitem_container {
  overflow: hidden;
  border: 1px solid #BDBDBD;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.AccountView__peerconnectionitem_container:hover {
  background-color: #BDBDBD;
  cursor: pointer;
}

.AccountView__peeriddisplay, .AccountView__pubkeydisplay, .AccountView__ipaddressdisplay {
  font-size: 10pt;
  margin: 0;
  padding: 0
}
