.LNMainPage_container {
  background-color: #FFCA28;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header_container {
  flex: 1;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}

.connect_button {
  flex: 1;
}

@media (max-width: 1633px) {
  .connect_button {
    flex: 1.5;
  }
}

@media (max-width: 1170px) {
  .connect_button {
    flex: 2;
  }
}

@media (max-width: 897px) {
  .connect_button {
    flex: 2.5;
  }
}

@media (max-width: 750px) {
  .connect_button {
    flex: 3;
  }
}

.Funds_label {
  font-size: 25pt;
  flex: 11;
  text-align: right;
}

.Peer_container {
  flex: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Peer_list_content_container {
  flex: 15;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Peer_list_content {
  width: 50%;
  height: 95%;
}

.Peer_list {
  width: 100%;
  height: 100%;
}

.Peer_list_button_container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disconnect_button {

}

.peer_connection_item_container {
  overflow: hidden;
  border: 1px solid #BDBDBD;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.peer_connection_item_container:hover {
  background-color: #BDBDBD;
  cursor: pointer;
}

.peer_id_display, .pubkey_display, .ip_address_display {
  font-size: 10pt;
  margin: 0;
  padding: 0
}

.peer_id_display {

}

.pubkey_display {

}

.ip_address_display {

}
