.PokerGameRoomView__container {
  background-color: #FFCA28;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PokerGameRoomView {
  height: 80%;
  width: 95%;
  display: flex;
}
.PokerGameRoomView__left_player_container, .PokerGameRoomView__right_player_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PokerGameRoomView__body {
  flex: 6;
  display: flex;
  flex-direction: column;
}
.PokerGameRoomView__pokertable_container {
  flex: 4;
  background-color: green;
  border-radius: 1%;
  border: 5px solid brown;
}
.PokerGameRoomView__top_player_container, .PokerGameRoomView__bottom_player_container {
  flex: 1;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
